<div class="row">
	<div class="col">
		<p>
			All of us have our own wishes. However it may differ from person to
			person. The wishes could be in what one would like to become, what one
			would like to do, what one would like to have and so on. No matter what,
			each one of us does have a wish and we all strive hard to get there. With
			little bit of effort and right kind of focusing, we all could make our
			wishes come true.
		</p>
		<p>
			We can help you manage your wishes by providing an intuitive UI where you
			can not only list all your wishes but also prioritize it to focus and
			fulfil one at a time. At the same time we can suggest which of your wishes
			can be fulfilled now based on the available funds.
		</p>
	</div>
</div>
