<div class="mt-2">
	<div class="card shadow d-flex flex-row justify-content-between mb-3">
		<strong class="card-header">
			Available fund is £1000 and pending wish count is 100
		</strong>
		<div class="d-flex flex-column flex-wrap p-2">
			<button class="btn btn-primary" type="button">Add/Update Funds</button>
			<button
				class="btn btn-primary"
				type="button"
				data-bs-toggle="offcanvas"
				data-bs-target="#arrangeWishes"
				aria-controls="arrangeWishes"
			>
				Add/Update wishes
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-sm-12">
			<h2>Top 3 wishes</h2>
			<div class="row row-cols-1">
				<wish-card
					title="Card title"
					description="Some quick example text to build on the card title and make up the
				bulk of the card's content."
					image="logo.png"
					is-row-card
					has-shadow
				/>
				<div class="row row-cols-2">
					<wish-card
						title="Card title"
						description="Some quick example text to build on the card title and make up the
				bulk of the card's content."
						image="logo.png"
						has-shadow
					/>
					<wish-card
						title="Card title"
						description="Some quick example text to build on the card title and make up the
				bulk of the card's content."
						image="logo.png"
						has-shadow
					/>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-sm-12">
			<h2>What I can fulfil with my available funds</h2>
			<div class="row row-cols-2">
				<wish-card
					title="Card title"
					description="Some quick example text to build on the card title and make up the
				bulk of the card's content."
					has-shadow
				/>
				<wish-card
					title="Card title"
					description="Some quick example text to build on the card title and make up the
				bulk of the card's content."
					has-shadow
				/>
				<wish-card
					title="Card title"
					description="Some quick example text to build on the card title and make up the
				bulk of the card's content."
					has-shadow
				/>
			</div>
		</div>
	</div>
</div>
