<div class="container mt-2">
	<div class="card shadow d-flex flex-row justify-content-between mb-2">
		<strong class="card-header">Available fund is £1000 and pending wish count is 100</strong>
		<div class="btn-group  m-1">
			<button class="btn btn-primary" type="button">Add Wish</button>
			<button class="btn btn-primary" type="button">
				Add/Update Funds
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-sm-12">
			<h2>Top 3 wishes</h2>
			<div class="d-flex flex-row flex-wrap gap-2">
				<wish-card
					title="Card title"
					description="Some quick example text to build on the card title and make up the
				bulk of the card's content."
					image="logo.png"
					is-row-card
					has-shadow
				/>
				<wish-card
					title="Card title"
					description="Some quick example text to build on the card title and make up the
				bulk of the card's content."
					image="logo.png"
					has-shadow
				/>
				<wish-card
					title="Card title"
					description="Some quick example text to build on the card title and make up the
				bulk of the card's content."
					image="logo.png"
					has-shadow
				/>
			</div>
		</div>
		<div class="col-lg-6 col-sm-12 mt-2">
			<div class="d-grid gap-2">
				<div class="d-flex flex-column gap-3">
					<div class="card text-center">
						<div class="card-header">Featured</div>
						<div class="card-body">
							<h5 class="card-title">Special title treatment</h5>
							<p class="card-text">
								With supporting text below as a natural lead-in to additional
								content.
							</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
						<div class="card-footer text-muted">2 days ago</div>
					</div>
					<div class="card text-center">
						<div class="card-header">Featured</div>
						<div class="card-body">
							<h5 class="card-title">Special title treatment</h5>
							<p class="card-text">
								With supporting text below as a natural lead-in to additional
								content.
							</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
						<div class="card-footer text-muted">2 days ago</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
